<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsLibrary.Properties.Settings.DataFileConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\DataFile.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsLibrary.Properties.Settings.ByteBankConnectionString"
            connectionString="Data Source=EDUARDO-PC;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>